.content-subtitle {
  margin: 48px auto 30px;
  padding: 0;
  max-width: 640px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}
