.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto 92px;
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(100% - 96px);
  box-sizing: border-box;
}

@media all and (max-width: 1024px) {
.cover {
  max-width: 100%;
  object-fit: cover;
  margin-left: 0;
  margin-right: 0;
}
}

@media all and (max-width: 768px) {
.cover {
  margin-top: 2px;
  margin-bottom: 0;
}
}
